<aside>
<!-- 	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

			Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div> -->

  <!-- <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt=""> -->


	<!-- <div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
	 -->
	<div id="upcoming" class="panel radius">
		<h3>Upcoming Events</h3>
			<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=180&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=64cakap669rr95f8dbqtn3i97k%40group.calendar.google.com&amp;color=%23853104&amp;ctz=Asia%2FTokyo" style="border-width:0" width="100%" height="180" frameborder="0" scrolling="no"></iframe>
	</div>
	<div id="Links" class="border-dotted radius b30">
		<h3>Links</h3>
		<div class="b30" ><a href="https://www.ieee.org/index.html"><img src="/images/ieee.png" alt="IEEE" title="IEEE" style="border-width:0" width="100%"/></a></div>
		<br>
		<div class="b30" ><a href="http://www.u-aizu.ac.jp/en/"><img src="/images/u-aizu.png" alt="u-Aizu" title="u-Aizu" style="border-width:0" width="100%"/></a></div>
		<!-- <div class="sponsor"><a href="http://iphonespring2011.crowdvine.com/"><img src="/images/125x125VTM2011.jpg" alt="Voices That Matter" title="Voices That Matter" /></a></div> -->
	</div>
</aside>